<h1><%= todo_title @todo %></h1>

<%= simple_format @todo.description %>

<p>
  <%= pluralize(@todo.items.size, "item") %> |
  <% if current_user == @todo.user %>
    <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <% end %>
  <%= link_to 'Back', todos_path %>
</p>

<h2>Items</h2>

<h2>Send a new item</h2>
<%= render "items/form" %>

<h2>Items</h2>
<div id="items">
  <%= render @todo.items %>
</div>